<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="static/lib/stylesheet.css">

</head>
<body>
    <div class="container">
        <p>Overview Prices</p>
        <img src="..\static\overview_prices.png" class="img">
        <p>Current Material Supplies</p>
        <img src="..\static\current_material_supplies.png" class="img">
        <p>Used Materials and Emissions</p>
        <img src="..\static\used_materials_and_emissions.png" class="img">
    </div>

</body>
</html>